<section class="intro py-7" id="intro">
  <div
    class="monts text-center title"
    data-aos="fade-down"
    data-aos-duration="3000"
  >
    Estás invitado
  </div>

  <div class="subtitle" data-aos="fade-down" data-aos-duration="3000">
    Gylmar Daniel Orozco <br />
    Astrid Daniel Orozco <br />
    <br />
    José Domingo Paredes Vides <br />
    Lucrecia Morales de Paredes
  </div>

  <p class="main-text" data-aos="fade-up" data-aos-duration="3000">
    Con la bendición de Dios y nuestros padres iniciamos esta nueva vida juntos.
    Nos complace invitarlos para que puedan acompañarnos en este momento tan
    especial para nosotros.
  </p>
</section>
