.intro {
  padding: 3.75rem 1rem;
}

.subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
}
