<div class="intro" id="intro">
  <div
    class="intro-container w-full px-7 py-14 text-center flex flex-col justify-center items-center"
  >
    <h3 class="satisfy text-5xl">¡Nos casamos!</h3>
    <p class="max-w-xl serif text-lg mt-2 text-justify">
      Con la bendición de Dios y nuestros padres iniciamos esta nueva vida
      juntos. Nos complace invitarlos para que puedan acompañarnos en este
      momento tan especial para nosotros.
    </p>
    <h3 class="satisfy text-5xl mt-10">Padres</h3>
    <p class="max-w-xl serif text-lg mt-2">
      Gylmar Daniel Orozco <br />
      Astrid Daniel Orozco <br /><br />
      José Domingo Paredes Vides <br />
      Lucrecia Morales de Paredes <br />
    </p>
    <img
      src=".../../../../../assets/2.jpeg"
      data-aos="fade-down"
      data-aos-duration="3000"
      class="mt-7 border-white border-8 shadow-xl w-full max-w-lg rounded-md"
    />
  </div>
</div>
