<div class="monts text-center title">Itinerario</div>
<div class="itinerario">
  <div class="itinerario-container">
    <div class="itinerario-block">
      <div class="side-1 itinerario-side">
        <img
          src="./../../../assets/wedding.svg"
          alt=""
          class="itinerario-image"
        />
      </div>
      <div class="side-2 itinerario-side">
        <div class="itinerario-time">12:00 AM</div>
        <div class="itinerario-place">Hacienda Country Club</div>
        <a href="/" class="itinerario-waze">Abrir en waze</a>
      </div>
    </div>
    <div class="itinerario-block">
      <div class="side-1 itinerario-side">
        <img
          src="./../../../assets/wedding.svg"
          alt=""
          class="itinerario-image"
        />
      </div>
      <div class="side-2 itinerario-side">
        <div class="itinerario-time">12:00 AM</div>
        <div class="itinerario-place">Hacienda Country Club</div>
        <a href="/" class="itinerario-waze">Abrir en waze</a>
      </div>
    </div>
    <div class="itinerario-block">
      <div class="side-1 itinerario-side">
        <img
          src="./../../../assets/wedding.svg"
          alt=""
          class="itinerario-image"
        />
      </div>
      <div class="side-2 itinerario-side">
        <div class="itinerario-time">12:00 AM</div>
        <div class="itinerario-place">Hacienda Country Club</div>
        <a href="/" class="itinerario-waze">Abrir en waze</a>
      </div>
    </div>
  </div>

  <div class="itinerario-code">
    <div class="itinerario-code-title">Dress Code</div>
    <div class="itinerario-code-value">Etiqueta Formal</div>
  </div>
</div>
