<div class="itinerario shadow-2xl text-white text-center px-2 py-6">
  <div class="itinerario-time text-3xl mb-1 amiri">13:00 Horas</div>
  <div class="itinerario-place text-4xl mb-4 satisfy tracking-wider">
    Finca San Ignacio
  </div>
  <div class="itinerario-place text-2xl mb-3 amiri tracking-wider">
    Parqueo dentro del lugar
  </div>
  <div class="mb-3 text-2xl amiri font-bold tracking-widest">Traje Formal</div>
  <a
    href="https://waze.com/ul/h9fx6xr2rf"
    class="text-2xl underline tracking-widest amiri"
    >Abrir en waze</a
  >
</div>
