.itinerario {
  background-color: #828f86;
  box-shadow: 0px 5px 38px 0px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px 5px 38px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 5px 38px 0px rgba(0, 0, 0, 0.42);
}

.amiri {
  font-family: "Amiri", cursive;
}
