<section class="countdown-main" data-aos="fade-up" data-aos-duration="3000">
  <div class="countdown-bg">
    <section class="countdown">
      <h3>Cuenta regresiva</h3>

      <div class="countdown-container">
        <div class="countdown-item">
          <div class="countdown-item-value" id="days">{{ time.days }}</div>
          <div class="countdown-item-label">días</div>
        </div>
        <div class="countdown-item">
          <div class="countdown-item-value" id="hours">{{ time.hours }}</div>
          <div class="countdown-item-label">horas</div>
        </div>
        <div class="countdown-item">
          <div class="countdown-item-value" id="minutes">
            {{ time.minutes }}
          </div>
          <div class="countdown-item-label">Min.</div>
        </div>
      </div>
    </section>
  </div>
</section>
